@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  background: #aec4c7;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background: #e0f7fa;
  border-radius: 7px;
  padding: 3rem;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  margin-top: 3rem;
}

.task {
  width: 50%;
  border-radius: 3px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: red;
  background: pink;
  width: 50%;
  border-radius: 3px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.formContainer {
  padding: 1rem;
}

.clear {
  background: white;
  border-radius: 3px;
  border: 0;
  padding: 0.5rem;
  margin-left: 1rem;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  border-bottom: 1px solid black;
}

.addTask {
  background: white;
  border-radius: 3px;
  border: 0;
  margin-left: 1rem;
  padding: 0.5rem;
  font-family: 'Open Sans', sans-serif;
}

input {
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

.task-list {
}
